* {
  margin: 0;
  padding: 0;
}
/* div{
  border: yellow 1px solid;
} */
.kartu {
  /* border: 2px solid red; */
  border-radius: 10px;
  overflow: hidden;
}
.gambar {
  transition: 700ms;
}
.gambar:hover {
  transform: scale(1.1);
  border-radius: 10px;
}
.gambaar1 {
  border-radius: 10px;
  overflow: hidden;
}

.container-carousel {
  /* background-color: #343a4017;
  border: 2px solid black;
  width: 600px; */
  height: 300px;
  /* margin-left: 0px; */
}
.readmore span:hover {
  cursor: pointer;
  color: grey;
  transition: 1000ms;
}
.readmore span {
  color: red;
}
.btncard {
  width: 100%;
  margin-top: 10px;
}

.trailer {
  background-color: transparent;
  height: 500px;
  padding: 0;
}
.btn-order {
  width: 43px;
  height: 40px;
  background-color: whitesmoke;
  color: #5b0008;
  border: 1px solid #5b0008;
  transition: 200ms;
}

.btn-order:focus {
  outline-color: #5b0008;
}

.btn-order:hover {
  font-weight: bolder;
}

.btn-disble {
  width: 43px;
  height: 40px;
  background-color: whitesmoke;
  color: #5b0008;
  border: 1px solid #5b0008;
}
.btn-pilih {
  color: whitesmoke;
  background-color: #5b0008d7;
  border: 1px solid whitesmoke;
  width: 43px;
  height: 40px;
}
.slider img{
  height:500px
}
.header{
background-color:whitesmoke;
}
.aa{
text-align: center;}

.movie-detail{
  width:100%;
  /* border:2px solid red */
}
.sinopsis{
  width: 900px;

}
.angkanotif{
margin-bottom:25px;
}
/* .logoutbutton{
  margin-top: 10px;
  border: 2px solid red;
} */